@font-face {
  font-family: coolvetica;
  src: url(../src/assets/coolvetica\ rg.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li, a, button{
  font-size : 16px;
  font-family: coolvetica;
}

a{
  padding : 10px;
  border-radius: 50px;
}

.navbar{
  display : flex;
  justify-content: space-between;
  align-items: center;
  padding : 10px 30px;
  margin-top : 10px;

}

.logo{
  height: 40px;

}

.nav_link{
  list-style : none;
}

.nav_link li {
  display: inline-block;
  padding : 0px 20px;
}

.nav_link li a{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color : black;
}

.nav_link li a:hover{
  color : white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 50px;
}

button {
  padding :9px 25px;
  background-color: rgb(0, 0, 0);
  border : none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color : white;
}

button:hover{

  padding :9px 25px;  
  background-image: linear-gradient(to right, #BDABFF, #AACCFF);
  border : none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color : white;
}

/**
 * Mouse Cursor Style
 */

h2 {
  font-family: "Google Sans";
  font-weight: 500;
  text-align: center;
}
h2 small {
  font-weight: 300;
}
/**
* Mouse Cursor Style
*/

/**
* Simple Radial Mouse Cursor
*/
#mouse-circle {
  position: absolute;
  width: 8px;
  height: 8px;
  margin: -8px 0px 0px -8px;
  border-radius: 50%;
  pointer-events: none !important;
  box-shadow: 0 0 8px 8px rgba(189, 171, 255, 0.2);
  background-color: black;
}


.bodybox{
  display: flex;
  height: 75vh;
}

/* taskbar */
.taskbox{
  display : flex;
  
  width : 65%;
  height : auto;
  /* border : solid rgba; */
  border-radius: 20px;
  box-shadow: rgba(189, 171, 255, 0.5) 0px 10px 50px;
  margin: 10px 15px 10px 30px;
}


/* pomodoro */
.pomobox{
  display: flex;
  width : 35%;
  border-radius: 20px;
  box-shadow: rgba(170, 204, 255, 0.5) 0px 10px 50px;
  margin: 10px 30px 10px 15px;
  justify-content: center;
  align-items: center;
  padding-bottom : 5rem;
}

.wrapper{
  display: flex;
  flex-direction :column;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */

}

.timeflex{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(170, 204, 255, 0.5) 0px 10px 50px;
  /* background-color: red; */
  height: 225px;
  width: 225px;
  border-radius: 50%;
  margin-top: 2em;
}
.buttonflex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30vh;
  margin-top : 5em;
}

.btn-start{
  transition: all 0.3s ease 0s;
}

.btn-start:hover{
  transform: scale(1.1) translateY(-.8em);
  background-color: black;
}

.btn-reset:hover{
  transform: scale(1.1) translateY(-.8em);
  background-color: black;
}